<!DOCTYPE HTML>

<html>
<head>
	<title>Freedom Board</title>
	<style>
		html {
			text-align: center;
			font-family: Arial, Times New Roman;
			background-color: rgb(255, 218, 185);
		}
		
		#submit_button {
			background-color: white;
			color: black;
			padding: 12px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border: 1px solid black;
		}
		
		#submit_button:hover {
			background-color: rgb(135, 206, 250);
			color: white;
		}
		
		#submit_button:active {
			background-color: rgb(0, 0, 250);
			color: white;
		}
		
		#name_holder {
			font-size: 16px;
		}
	</style>
</head>
	
<body>
	<div class="header">
		<h1>Welcome to the Freedom Board</h1>
		<h2>Share your thoughts here!</h2>
	</div>
	
	<div class="content_area">
		<% YAML.load_file("messages.yml").each do |x, y| %>
		<p><%= "Name: #{x} ... Message: #{y}" %> </p>
		<% end %>
	</div>
</body>
</html>