<!DOCTYPE HTML>

<html>
<head>
	<title>Freedom Board</title>
	<style>
		html {
			text-align: center;
			font-family: Arial, Times New Roman;
			background-color: rgb(255, 218, 185);
			margin-top: 20px;
		}
		
		#submit_button {
			background-color: white;
			color: black;
			padding: 12px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border: 1px solid black;
		}
		
		#submit_button:hover {
			background-color: rgb(135, 206, 250);
			color: white;
		}
		
		#submit_button:active {
			background-color: rgb(0, 0, 250);
			color: white;
		}
		
		#name_holder {
			font-size: 16px;
		}
		
		.posts_area {
			border: 2px solid black;
			margin: 50px 200px;
			background-color: white;
			padding: 20px 40px;
		}
		
		#divider {
			border: 1px solid gray;
			margin: 10px 0px;
		}
		
		.posts {
			text-align: left;
		}
		
		#name_style {
			font-weight: bold;
			color: rgb(30, 144, 255);
		}
	</style>
</head>
	
<body>
	<div class="header">
		<h1>Welcome to the Freedom Board</h1>
		<h2>Share your thoughts here!</h2>
	</div>
	
	<div class="content_area">
		<form action="cast" method="post">
			<textarea rows="4" cols="50" placeholder="Type your message here..." autocomplete="off" value='' name="message_area"></textarea>
			<p></p>
			<input type="text" id="name_holder" autocomplete="off" value="Anonymous" name="name_area">
			<input type="submit" id="submit_button" value="POST IT">
		</form>
	</div>
	
	<div class="posts_area">
		<div class="posts_content_area">
			<p id="divider"></p>
			<% YAML.load_file("messages.yml").sort_by {|k, v|}.reverse.each do |x, y| %>
			<% y.each do |key, value| %>
			<p class="posts"id="name_style"><%= "#{key}" %></p>
			<p class="posts"><%= "#{value}" %></p>
			<% end %>
			<p id="divider"></p>
			<% end %>
		</div>
	</div>
</body>
</html>