<!DOCTYPE HTML>

<html>
<head>
	<title>Freedom Board</title>
</head>
	
<body>
	<h1>Welcome to the Freedom Board</h1>
	<h2>Share your thoughts here!</h2>
	
	<textarea rows="4" cols="50" placeholder="Type your message here..."></textarea>
</body>
</html>